// Import variables.
@import "variables";

.js-active {
  max-height: 300px !important;
}

.status-add-form-container {
  position: relative;
}

.timeline-wrapper {
  max-width: 767px;
  margin: 0 auto;
  font-family: $font-family;

  .timeline-header {
    display: flex;
    justify-content: space-between;
    background: $color-white;
    border: 1px solid $border-color;
    padding: 15px 20px;
    border-radius: 4px 4px 0 0;
    flex-direction: row;
    color: $text-color;
    font-size: 14px;

    .timeline-title {
      color: $primary-color;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
        content: "";
        background-image: url("../images/shout.svg");
        width: 15px;
        height: 15px;
        background-size: contain;
        margin-right: 5px;
      }
    }

    .timeline-action {
      display: flex;

      a {
        margin-left: 15px;
        cursor: pointer;
        color: $text-color;
        font-size: 12px;

        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
          content: "";
          width: 15px;
          height: 15px;
          background-size: contain;
          margin-right: 5px;
        }

        &.action-add-photo {
          &:before {
            background-image: url("../images/image.svg");
          }
        }

        &.action-add-video {
          &:before {
            background-image: url("../images/video.svg");
          }
        }
      }
    }
  }

  .form-wrapper {
    .form-footer {
      padding: 5px 15px;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      background: $color-white;

      .form-actions {
        margin: 0;
        text-align: right;

        input[type="submit"] {
          height: 30px !important;
          font-size: 14px !important;
          padding: 0 15px !important;
          border-radius: 5px !important;
          line-height: 30px !important;
        }
      }
    }
  }

  .status-container {
    border-radius: 0;
    margin: 0;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    overflow: hidden;
    transition: all .2s cubic-bezier(.645, .045, .355, 1);

    label, .description {
      display: none;
    }

    .form-item {
      margin-top: 0;
    }

    textarea {
      border: none;
      box-shadow: none;
      outline: 0;
      height: 4em;
      max-height: 16em;
      line-height: 1.5em;
      appearance: none;
      font-size: 100%;
      resize: none;
      transition: all .2s cubic-bezier(.645, .045, .355, 1);
      padding: 5px 15px;

      &:focus {
        height: 10em;
      }
    }

    .image-wrapper {
      position: relative;
      overflow: hidden;
      max-height: 0;
      transition: max-height .2s ease-in-out;
      background-size: cover;
      background-position: center center;
      margin: 0 15px 15px;
      width: 70px;
      height: 70px;

      *{
        box-sizing: border-box;
      }

      .form-group {
        margin: 0;
      }

      .form-managed-file {
        position: relative;
        width: 70px;
        height: 70px;
        border: 1px dashed $border-color;
        display: block;
        transition: all .2s ease-in-out;
        overflow: hidden;
        margin-bottom: 15px;

        input {
          padding: 10px 15px;
          border: 1px solid $border-color;
          background-color: $color-white;
          border-radius: 4px;
          box-shadow: none;
          color: $text-color;
          appearance: none;
          opacity: 0;
          cursor: pointer;
          height: 100%;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          z-index: 10;
          width: auto;
        }

        &:after {
          position: absolute;
          font-size: 26px;
          width: 26px;
          height: 26px;
          margin: auto;
          top: 50%;
          left: 0;
          right: 0;
          transform: translateY(-50%);
          content: '+';
          text-align: center;
          font-weight: 700;
          transition: all .2s ease-in-out;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &.hide-plus {
        .form-managed-file {
          .file--image {
            display: none;
          }

          :after {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(45deg);
            top: 32%;
          }
        }
      }
    }

    .form-item-video {
      overflow: hidden;
      transition: max-height .2s ease-in-out;
      margin: 0;
      max-height: 0;

      input {
        appearance: none;
        height: 30px;
        border-radius: 0;
        width: calc(100% - 30px);
        background: transparent;
        font-size: 12px;
        border-bottom: dashed 1px $border-color;
        margin: 0 15px 15px 15px;
        padding: 0 0 0 10px;
      }
    }
  }
}

/* History lines */
.history-timeline, .history-timeline:after {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  content: '';
  right: 0;
}

.history-timeline {
  background-image: url("../images/timeline.svg");
  background-position: 50%;
  background-repeat: repeat-y;
  bottom: -12px;
  width: 39px;
  height: 33px;

  &.top {
    display: block;
    bottom: inherit;
    top: -14px;
    transform: rotate(180deg);

    &:after {
      display: block;
      bottom: -12px;
    }
  }

  &:after {
    background-image: url('../images/timeline-border.svg');
    background-position: 50%;
    background-repeat: repeat-y;
    display: none;
    bottom: -19px;
    width: 100%;
    height: 20px;
  }
}

// Time line items
#timeline-items {
  .timeline-item {
    position: relative;
    font-size: 15px;
    line-height: 1.5em;
    border: 1px solid $border-color;
    border-radius: 4px;
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, .03);
    margin-top: 30px;
    padding-bottom: 20px;

    header {
      padding: 15px 20px 0;
      background: $color-white;
      overflow: hidden;

      &:after {
        content: '';
        width: 100%;
        border-bottom: 1px solid $border-color;
        display: block;
        margin-top: 10px;
      }

      .user-avatar {
        float: left;
        margin: 0 20px 15px 0;
        padding: 0;
        overflow: hidden;
        display: block;

        img {
          width: 50px;
          height: 50px;
          border-radius: 100%;
        }
      }

      .user-name {
        display: block;
        font-size: 18px;
        margin-bottom: 5px;
        text-transform: capitalize;
      }

      .timestamp {
        font-size: 13px;
        color: #ccc;
        font-style: italic;
      }

      .owner-actions {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        line-height: 1em;
        list-style: none;

        .actions-dropdown {
          ul {
            position: absolute;
            z-index: 9;
            top: 21px;
            right: 0;
            margin: 0;
            padding: 3px 10px;
            font-size: 13px;
            border: 1px solid $border-color;
            -webkit-border-radius: 8px 0 8px 8px;
            border-radius: 8px 0 8px 8px;
            list-style: none;
            display: none;

            li {
              list-style: none;
              padding: 0;
              margin: 0;

              a {
                display: flex;
                align-items: center;
              }
            }
          }

          &__icon--arrow {
            position: relative;
            z-index: 10;
            display: flex;
            float: right;
            width: 32px;
            height: 22px;
            margin: 0;
            padding: 0;
            cursor: pointer;
            border-width: 1px 1px 0;
            border-style: solid;
            border-color: transparent;
            align-items: center;
            justify-content: center;

            &:before {
              background-image: url("../images/carrot-down.svg");
              content: "";

              width: 15px;
              height: 15px;
              background-repeat: no-repeat;
              background-position: center;
            }
          }

          &:hover {
            .actions-dropdown__icon--arrow {
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
              border-color: $border-color;
            }

            ul {
              display: block;
            }
          }
        }
      }
    }

    .field--type-text-long {
      padding: 20px 20px 0 20px;
      font-size: 14px;
      font-style: italic;
      letter-spacing: 1px;
      word-spacing: 2px;
    }

    .field--type-image {
      padding: 20px 20px 0 20px;

      .field__item {
        border-radius: 5px;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          max-width: 100%;
        }
      }
    }

    .field--type-video-embed-field {
      padding: 20px 20px 0 20px;
    }

    .field--type-entity-reference {
      margin: 0;
    }
  }
}

.timeline-pager {
  margin-top: 30px;
}

.video-embed-field-responsive-video {
  position: relative;
  iframe, object{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
