<header>
  {% if picture %}
    <figure class="user-avatar">
      <div class="initialsAvatar">
        {% if picture['abbr'] %}
          <span class="abbr">{{ picture.name }}</span>
        {% else %}
          <img width="100" height="100" alt="User Picture" src="{{ picture.url }}"/>
        {% endif %}
      </div>
    </figure>
  {% endif %}
  <span role="button" class="user-name">{{ name }}</span>
  <abbr class="timestamp"><span>{{ ago }}</span></abbr>
  {% if show_actions %}
    <ul class="owner-actions">
      <li class="actions-dropdown">
        <span class="actions-dropdown__icon--arrow"></span>
        <ul>
          <li><a id="action-delete-{{ id }}" href="/delete/status/{{ id }}" class="action-delete use-ajax"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</a></li>
        </ul>
      </li>
    </ul>
  {% endif %}
</header>
