<div class="timeline-wrapper">
  {% if form %}
    <div class="status-add-form-container">
      {{ form }}
      <span class="history-timeline"></span>
    </div>
  {% endif %}
  <div id="timeline-items">
    {% for status in data %}
      {{ status }}
    {% endfor %}
    {% if pager %}
      {{ pager }}
    {% endif %}
  </div>
</div>
